.region-list {
  color: white;
  background-color: #1a1a2e;
  display: grid;
  border-radius: 10px;
  height: 86vh;
}
.region-list {
  scroll-behavior: auto;
  padding: 10px;
}
.regoin-il {
  margin: 2px;
  background-color: #083358;
  border-radius: 5px;
  height: 40px;
  padding: 8px;
}

.flex {
  display: flex;
}

.country {
  margin: 16px;
  background-color: #083358;
  border-radius: 10px;
  height: 43vh;
}
.data {
  margin: 16px;
  background-color: #083358;
  border-radius: 10px;
  height: 43vh;
}
